@import '../../scss/variables/colors';

@import '../../scss/margins';

.gnome-card {
  border: solid 1px $alto;
  border-radius: 4px;
  background-color: $white;
  height: 340px;
  padding: 20px;
  width: 250px;
  transition: all ease-in-out 0.3s;

  &:hover {
    animation: shake 0.5s;
    animation-iteration-count: 1;
    border: solid 1px $denim;
    background: radial-gradient(circle, $white 80%, $denim 100%);
  }
}

.gnome-modal {
  background-color: $white;
  border: 1px solid $alto;
  border-radius: 4px;
  height: auto;
  margin: auto;
  outline: 0;
  padding: 30px 40px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 600px;
}

.hair-color {
  width: 12px;
  height: 12px;
  border-radius: 8px;
}

.gnome-image {
  border-radius: 4px;
  height: 200px;
  object-fit: fill;
  width: auto;
  max-width: 200px;
}

.gnome-information-box {
  column-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
}

.gnome-information {
  text-align: start;
  font-size: 16px;
  line-height: 18px;
}

.gnome-modal-image {
  border-radius: 4px;
  height: 300px;
  object-fit: fill;
  width: 100%;
}

.gnome-modal-information {
  text-align: start;
  font-size: 18px;
  line-height: 20px;
}

.gnome-title {
  color: $denim;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
}

@keyframes shake {
  0% {
    transform: translate(1px, 0) rotate(0deg);
  }

  10% {
    transform: translate(0, 0) rotate(0.5deg);
  }

  20% {
    transform: translate(-1px, 0) rotate(1deg);
  }

  30% {
    transform: translate(0, 0) rotate(0.5deg);
  }

  40% {
    transform: translate(1px, 0) rotate(0deg);
  }

  50% {
    transform: translate(0, 0) rotate(-0.5deg);
  }

  60% {
    transform: translate(-1px, 0) rotate(-1deg);
  }

  70% {
    transform: translate(0, 0) rotate(-0.5deg);
  }

  80% {
    transform: translate(1px, 0) rotate(0deg);
  }

  90% {
    transform: translate(0, 0) rotate(0.5deg);
  }

  100% {
    transform: translate(-1px, 0) rotate(1deg);
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .gnome-modal {
    padding: 30px 40px;
    width: 400px;
  }

  .gnome-modal-image {
    height: 100px;
  }

  .gnome-modal-information {
    text-align: start;
    font-size: 12px;
    line-height: 14px;
  }

  .gnome-title {
    font-size: 20px;
    line-height: 22px;
  }
}

@media screen and (max-width: $breakpoint-phone) {
  .gnome-card {
    height: 100px;
    padding: 10px;
  }

  .gnome-modal {
    padding: 20px 30px;
    width: 250px;
  }

  .gnome-title {
    font-size: 16px;
    line-height: 18px;
  }
}
