@import '../../scss/variables/colors';

.gnome-card {
  border: solid 1px $alto;
  border-radius: 4px;
  background-color: $white;
  height: 340px;
  padding: 20px;
  width: 250px;
  transition: all ease-in-out 0.3s;

  &:hover {
    animation: shake 0.5s;
    animation-iteration-count: 1;
    border: solid 1px $denim;
    background: radial-gradient(circle, $white 80%, $denim 100%);
  }
}

.modal-container {
  padding: 0 40px;
}

.gnome-image {
  border-radius: 4px;
  height: 200px;
  object-fit: fill;
  width: auto;
  max-width: 200px;
}

.gnome-information-box {
  column-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gnome-information {
  text-align: start;
  font-size: 16px;
  line-height: 18px;
}

.gnome-modal-image {
  border-radius: 4px;
  height: 300px;
  object-fit: fill;
  width: 100%;
}

.gnome-modal-information {
  text-align: start;
  font-size: 24px;
  line-height: 26px;
}

.gnome-title {
  color: $denim;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
}

@keyframes shake {
  0% {
    transform: translate(1px, 0) rotate(0deg);
  }

  10% {
    transform: translate(0, 0) rotate(0.5deg);
  }

  20% {
    transform: translate(-1px, 0) rotate(1deg);
  }

  30% {
    transform: translate(0, 0) rotate(0.5deg);
  }

  40% {
    transform: translate(1px, 0) rotate(0deg);
  }

  50% {
    transform: translate(0, 0) rotate(-0.5deg);
  }

  60% {
    transform: translate(-1px, 0) rotate(-1deg);
  }

  70% {
    transform: translate(0, 0) rotate(-0.5deg);
  }

  80% {
    transform: translate(1px, 0) rotate(0deg);
  }

  90% {
    transform: translate(0, 0) rotate(0.5deg);
  }

  100% {
    transform: translate(-1px, 0) rotate(1deg);
  }
}
