@import '../../scss/variables/colors';

.gnome-card {
  border: solid 1px $alto;
  border-radius: 4px;
  background-color: $white;
  height: 320px;
  margin-bottom: 12px;
  margin-right: 4px;
  padding: 20px;
  width: 250px;
  transition: all ease-in-out 0.3s;

  &:hover {
    animation: shake 0.5s;
    animation-iteration-count: 1;
    border: solid 1px $denim;
  }
}

.gnome-image {
  border-radius: 4px;
  height: 200px;
  object-fit: contain;
  width: auto;
  max-width: 200px;
}

.gnome-name {
  font-size: 16px;
}

.gnome-information {
  font-size: 16px;
}

@keyframes shake {
  0% {
    transform: translate(1px, 0) rotate(0deg);
  }

  10% {
    transform: translate(0, 0) rotate(0.5deg);
  }

  20% {
    transform: translate(-1px, 0) rotate(1deg);
  }

  30% {
    transform: translate(0, 0) rotate(0.5deg);
  }

  40% {
    transform: translate(1px, 0) rotate(0deg);
  }

  50% {
    transform: translate(0, 0) rotate(-0.5deg);
  }

  60% {
    transform: translate(-1px, 0) rotate(-1deg);
  }

  70% {
    transform: translate(0, 0) rotate(-0.5deg);
  }

  80% {
    transform: translate(1px, 0) rotate(0deg);
  }

  90% {
    transform: translate(0, 0) rotate(0.5deg);
  }

  100% {
    transform: translate(-1px, 0) rotate(1deg);
  }
}
