@import '../../scss/variables/colors';

.empty-list-container {
  background-color: $white;
  border: 1px solid $alto;
  border-radius: 4px;
  height: 400px;
  padding: 100px 0;
  vertical-align: middle;
  width: 100%;
}

.empty-list-text {
  font-size: 20px;
  line-height: 22px;
  text-align: center;
}

.not-found-icon {
  min-width: 40px;
  max-width: 160px;
  min-height: 30px;
  max-height: 140px;
}
