@import '../../scss/variables/colors';

.name-input {
  border: solid 1px $alto;
  border-radius: 4px;
  padding: 4px;
  transition: all ease-in-out 0.3s;

  &:focus {
    color: $denim;
    border: solid 1px $denim;
  }
}

.city {
  font-size: 16px;
  cursor: pointer;
}

.active-city {
  color: $denim;
  font-weight: 700;
}
