@import '~wolox-equalizer/equalizer';

@import 'layout';

@import 'margins';

@import 'components';

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

// TODO: Edit this global styles

body {
  background-color: $gallery;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
a,
button,
select,
textarea {
  font-family: 'Nunito Sans', sans-serif;
  color: $cod-gray;
}

.main-page {
  padding: 20px 200px;
}
